.ph-sf-admin-options {
  margin-top: 1em;
}
.ph-sf-admin-options .spinner {
  float: none;
  margin-top: 0;
}
.ph-sf-admin-options .spinner:not(.hidden) {
  display: inline-block;
}
.ph-sf-admin-options .importing {
  margin-top: 10px;
}
